.result-container {
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .progress-bar {
    width: 120px;
    height: 120px;
    margin: 20px auto;
  }
  
  .score-text {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .message {
    font-size: 16px;
    color: #444;
    
  }
  
  .dashboard-btn {
    padding: 10px 50px;
    font-size: 0.99vw;
    background-color: white;
    border: 1.5px solid #453FE1;
    border-radius: 8px;
    color: #453FE1;
    font-weight: 500;
    cursor: pointer;
  }
  
 
  